VITE_CONTRACT_ID=your_contract_address
VITE_ESCROW_CONTRACT_ADDRESS=your_contract_address
VITE_BACKEND_URL=http://localhost:3000/
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
